.MuiPaper-root.MuiCard-root.MuiPaper-elevation1.MuiPaper-rounded {
  position: relative;
}

.bg-modal {
  width: 100%;
  height: 100vh;
  background-color: rgba(0, 0, 0, 0.7);
  position: fixed;
  z-index: 1;
  top: 0;
  right: 0px;
  display: none;
  justify-content: center;
  align-items: center;
}

.modal-content {
  width: 500px;
  height: 250px;
  background-color: white;
  border-radius: 4px;
  padding: 20px;
  position: absolute;
}

#pinned_message_list_title {
  margin-left: 26px;
  margin-top: 30px;
}

.pinned_message_list_close_btn,
.delete_option_form_close_btn {
  position: absolute;
  top: 0;
  right: 14px;
  font-size: 42px;
  transform: rotate(45deg);
  cursor: pointer;
}

.modal-content.pinned_message_list {
  height: revert !important;
  padding: 40px 20px;
}
.sendbird-channel-settings_pin-message-wrapper {
  margin: 20px 5px;
}

.message-options-wrap {
  margin: 0px;
  padding: 5px;
  border-radius: 4px;
  position: absolute;
  display: inline-block;
  right: 6px;
  top: 26px;
}

.sendbird_dropdown_menu {
  width: 100px;
  min-height: 40px;
  padding: 5px;
  border: 2px solid #6210cc;
  border-radius: 4px;
  display: inline-block;
  font-size: 0.875rem;
  font-weight: 400;
  font-family: "Roboto", "Helvetica", "Arial", sans-serif;
  line-height: 1.43;
  letter-spacing: 0.01071em;
  color: white !important;
  background-color: #6210cc;
}

.no-pinned-messages-title{
  margin-left: 26px;
  font-weight: normal;
}